//Colors

$red: #ea2027;
$gray: #d1d8e0;
$blue: #304a7a;
$light-blue: #12cbc4;
$rose: #ed4c67;
$white: #fff;
$black: #000;

// Fuentes
$small: 16px;
$medium: 20px;
$big: 36px;

// paddin
$large-padding: 10px 15px;
$big-padding: 20px 30px;

// Margins
$default-margin-top: 30px;
$big-margin-top: 90px;

// Border radius
$border-radius: 4px;
