@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

@import "../css/modules/variables.scss";
@import "../css/modules/mixins.scss";

@import "../../node_modules/normalize.css/normalize.css";

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

img {
  min-width: 100%;
  height: auto;
}

figure {
  display: flex;
  position: relative;
  min-height: 100%;
  margin: 0px;
  figcaption {
    @include caption;
  }
}

.full-height {
  min-height: 100vh;
}

.btn {
  padding: $large-padding;
  position: relative;
  color: $black !important;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-sizing: border-box;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 40%;
    left: 0;
    bottom: 0;
    background-color: $light-blue;
    z-index: -1;
    transition: all 0.15s ease-out;
  }
  &:hover::before {
    height: 100%;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.container {
  grid-column: span 12;
  padding: $big-padding;
}

.cover {
  @include absolute-cover;
  min-height: 500px;
  background-size: cover;
  background-position: center;

  &.parallax {
    background-attachment: fixed;
    background-image: url(../../public/images/airport-people-waiting-seats-chairs-windows.jpg);
    position: relative;
    p {
      @include caption;
      background-color: rgba($blue, 0.8);
      display: block;
      left: 0;
      width: 100%;
      @include text-right;
      span {
        display: block;
        font-size: 0.5em;
        font-weight: 200;
        margin-top: 6px;
      }
    }
  }
}

.slider {
  .controls {
    @include text-right;
    margin-bottom: 10px;
    padding-right: 40px;
    display: none;
    img {
      min-width: inherit;
    }
    .arrow-right,
    .arrow-left {
      height: 30px;
      @include transition;
      transition-duration: 0.15s;
      cursor: pointer;
      &:hover {
        opacity: 0.2;
      }
    }
  }
  // .image {
  //   min-height: 100vh;
  //   display: flex;
  //   align-items: center;
  // }
  header {
    background-color: $blue;
    color: $white;
    padding: $big-padding;
    transform: translateY(40px);
    width: 90%;
    margin: 0 auto;
    z-index: 10;
    position: relative;
    h1,
    p {
      margin: 0;
    }
    .separator {
      @include text-right;
      padding-right: 150px;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 140px;
        background-color: currentColor;
        top: 0.8em;
        right: 0;
      }
    }
  }
}

#slider-text-content {
  @include transition;
  &.hide {
    opacity: 0;
    transform: translateX(200px);
  }
}

#slider-image {
  @include transition;
  &.hide {
    opacity: 0;
  }
}

.mission {
  justify-content: center;
  align-items: center;
  .container {
    @include main-text;
    font-size: 1.1em;
    p {
      line-height: 2em;
      &:nth-of-type(1) {
        margin-bottom: 3em;
        position: relative;
      }
    }
  }
}

.grid {
  .grid-main-area {
    .image {
      margin-top: 25px;
    }
  }
}

#idMapa {
  width: 100%;
  min-height: 600px;
  margin-top: 30px;
}

.grid-main-area {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas:
    "title title title title title title title title title"
    "image image image image image image image image image";
  margin-top: $big-margin-top;
  margin-bottom: $big-margin-top;
  .text {
    grid-area: title;
    @include main-text;
  }
  .image {
    grid-area: image;
  }
}

.social {
  margin-top: $big-margin-top;
  margin-bottom: $big-margin-top;
  @include text-center;
  p.title {
    font-weight: 200;
    font-size: 2.5em;
  }
  a {
    display: block;
    max-width: 150px;
    margin: 1em auto;
  }
}

@media (min-width: 960px) {
  .container {
    grid-column: 2 / 12;
  }
  .grid {
    .grid-main-area {
      .image {
        margin-top: 0;
      }
    }
  }
  .grid-main-area {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: "title title title image image image image image image";
  }

  .slider {
    align-items: center;
    header {
      transform: translateX(100px);
      width: 100%;
      min-height: 350px;
    }
  }

  .mission {
    .container {
      figure {
        float: right;
        margin-left: 20px;
      }
      p {
        &:nth-of-type(1) {
          &::after {
            content: "";
            background-color: $blue;
            position: absolute;
            bottom: -1.5em;
            height: 5px;
            width: 50%;
            z-index: -1;
          }
        }
      }
    }
  }

  .social {
    a {
      display: inline-block;
      margin-right: 90px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
